	body {font-family: helvetica, sans-serif;}
	* {box-sizing: border-box;}
	header {
		height: 240px;
		background: url('./img/backlits.jpg') no-repeat center fixed;
		background-size: cover;
		position: relative;
		text-align: center;
		color: white;
	}
	.headertext {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.headertext h1 {
		font-size: 50px;
	}
 	.navbar {
 		overflow: hidden;
 		background-color: #333;
 		font-family: helvetica, sans-serif;
	padding-left: 5%;
 	}
 	.navbar a {
 		float: left;
 		font-size: 16px;
 		color: #d8aeae;
 		text-align: center;
 		padding: 14px 16px;
 		text-decoration: none;
 	}
 
 	.dropdown {
 		float: left;
 		overflow: hidden;
 	}
 	.dropdown .dropbtn {
 		font-size: 16px;
 		border: none;
 		outline: none;
 		color: #d8aeae;
 		padding: 14px 16px;
 		background-color: inherit;
 		font-family: inherit;
 		margin: 0;
 	}

 	.fa:hover, .navbar a:hover, .dropdown:hover .dropbtn {
 		background-color: #293844;
 	}
 	.dropdown-content {
 		display: none;
 		position: absolute;
 		background-color: #293844;
 		min-width: 160px;
 		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 		z-index: 1;
 	}
 	.dropdown-content a {
 		float: none;
 		color: #d8aeae;
 		padding: 12px 16px;
 		text-decoration: none;
 		display: block;
 		text-align: left;
 	}
 	.dropdown-content a:hover {
 		background-color: #404640;
 	}
 	.dropdown:hover .dropdown-content {
 		display: block;
 	}

 	.strip1 {
 	height: 100px; 
 	background-color:#293844;
 	border-bottom: 1px solid white; 
 	}
 	.row {
 	display:flex; 
 	flex-flow: row wrap;
 	justify-content: space-around;
 	} 
 	img {
 		width: 100%;
 	}

 	.left, .middle, .right, .col1, .col2, .col3 {
 		margin: 1px;
 		background-color:#293844;
 	}
 	.left{
 		width: 30%;
 	}
 	.middle {
	width:45%; 
	
 	}
 	.right {
 	width:24%;
 	}
 	
 	.col1 {
 		width: 35%;
 	}
 	.col2 {
 		width: 33%;
 	}
 	.col3 {
 		width: 31%;
 	}
 	h3 {
 		padding: 0px 20px
 	}
 	.col1 p, .col2 p, .col3 p {
 		padding-left: 20px; 
 		color:white;
 	}
 	
 	a {
 		text-decoration: none;
 		color: white;
 	}

 	a:hover {
 		color: #d8aeae;
 		text-decoration: underline;
 	}

 	.mainnews {
 		text-align: center;
 		font-size: 40px;
 		padding: 25px 2px;
 	}

.strip2 {
	display: flex;
	flex-flow: row wrap;
	background-color:#293844;
 	border-bottom: 1px solid white; 
}

.left1 {
	width: 30%; 
	text-align: right; 
	color: white; 
	padding: 60px 20px; 
	color:#d8aeae;
	font-style: italic;
}

.right1 {
width: 69%; 
text-align: left; 
padding: 60px 50px;
color:white;
font-style: italic;
background-color:#293844;
}

.body2 {
	display: flex;
	flex-flow: row wrap;
}
.llist {
	width: 70%;
	padding: 50px 50px;
}

.news {
	display: flex;
	flex-flow: row wrap;
	border: 1px solid #fff1dd;
	height: 100px;
	margin: 5px;
}
.fakeimg {
	background-color: #d8aeae;
	width: 30%;
	height: 100px;
}
.newstit {
	width: 69%;
	padding-left: 20px;
}

.newstit a, .newstit p {
	color:  #404640;
	text-decoration: none;
}
.newstit a:hover {
	text-decoration: underline;
}
.rlist
{
	flex-flow: column wrap;
	width: 30%;
	background-color: #fff1dd;
	text-align: center;
	min-height: 100px;
}
.carousel{
	height: 300px;
	width: 100%;
	background-color: #9791a0;
}
.footer{
background-color:#404640;
text-align: center;
color: white;
height: 100px;
padding-top: 40px;
}
@media (max-width: 700px)
{
	.row, .strip2, .body2 {
		flex-flow: column wrap;
	}
	.left, .middle, .right, .col1, .col2, .col3, .left1, .right1, .llist, .rlist {
		width: 100%;
	}
	.navbar {
		padding-left: 0%;
	}
	.llist {
		padding: 0;
	}
	.fakeimg {
		display: none;
	}
	.newstit {
		font-size: 14px;
	}
}



